body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.page {
	width: 100vw;
	height: 100vh;
	background-color: rgb(105, 0, 136);
	display: flex;
	justify-content: center;
	align-items: center;
}

.writer {
	font-size: 90px;
	font-weight: 300;
	color: white;
}
